.navbar-brand {
    font-weight: bolder;
}

body {
    background: black;
    overflow: hidden;
}

.left-sidebar {
    width: 20%;
    background-color: whitesmoke;
    height: 800px;
    display: flex;
    border-right: solid 1px black;
}

.right-sidebar {
    width: 20%;
    background-color: whitesmoke;
    height: 800px;
    display: flex;
    border-left: solid 1px black;
    float: right;
    margin-top: -800px;
}

.main {
    width: 60%;
    height: 800px;
    background-color: rgb(249, 249, 249);
    margin-left: auto;
    margin-right: auto;
    margin-top: -800px;
    gap: 3rem;
    overflow-y: auto;
    background: black;
}

.group-text .icon svg {
    padding: 1px;
    font-weight: bold;
}

.card .user-logo .user-name {
    padding-left: 10px;
    padding-top: 10px;
}

.card .user-logo {
    display: flex;
    margin: 5px;
}

.client-users img {
    margin: -5px;
}

.card .user-logo svg {
   margin-left: 650px;
   
}
